
*.iws
*.iml
.idea/

.project
.classpath
.settings/
.factorypath

rebel.xml

# Hoverfly captured simulations
**/hoverfly/captured

# Generated when running WildFly Swarm 2018.1.x+
audit.log
.vscode/

/coverage/
/deep_cover/
/Gemfile.lock
/pkg/
/vendor/bundle/
/.ruby-version
